/* --- ZÁKLADNÍ PROMĚNNÉ --- */
:root {
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- HERNÍ KARTY (PSEUDO-ELEMENTY V GRIDU) --- */
.cards-grid::before {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0 var(--transition);
    background: var(--gradient, #ff8400);
    padding: 5px;
    text-shadow: 0 0 2px;
    color: black;
    border-radius: 8px;
}

.cards-grid:has(> :first-child:hover)::before {
    content: "Vydáno po:";
    position: absolute;
    transform: translate(230px, -50px);
    opacity: 1;
    transition: opacity 1s var(--transition)
}

.cards-grid:has(> :last-child:hover)::before {
    content: "Vydáno před:";
    position: absolute;
    transform: translate(805px, -50px);
    opacity: 1;
    transition: opacity 1s var(--transition)
}

/* =========================================
   MEDIA QUERIES 
========================================= */

@media (max-width: 1200px) {
    .cards-grid:has(> :first-child:hover)::before,
    .cards-grid:has(> :last-child:hover)::before {
        display: none;
    }
}